[ripple]{
  overflow: hidden !important;
  position: relative !important;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[ripple].unbounded{
  overflow: visible !important;
}

[ripple] ripple{
  position: absolute;
  display: block;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1;
  transform: scale3d(0,0,0);
  z-index: 10000;
  background: var(--ripple-bg, rgba(255,255,255,.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity var(--fade-time, 1s) var(--fade-style, linear) var(--fade-delay, 0s), transform var(--expand-time, .5s) var(--expand-style, linear) var(--expand-delay, 0s);
}